[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
pandas = "*"
numpy = "*"
seaborn = "*"
kaggle = "*"
requests = "*"
tensorflow-cpu = "*"
scikit-learn = "*"
scikit-image = "*"
tqdm = "*"

[dev-packages]
ipython = "*"
jupyterlab = "*"
notebook = "*"
pandas = "*"
tensorboard = "*"

[requires]
python_version = "3.10"
